<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
    <title>Create a Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Create a Mad Lib!</h1>
        <p>Fill out the form fields below and click the submit button to see a goofy mad lib!</p>
        <form action="/response">

          <div class="row">
            <div class="form-group col">
              <label for="adjective01">Adjective</label>
              <input id="adjective01" name="adjective01" type="text" class="form-control">
            </div>
            <div class="form-group col">
              <label for="noun01">Noun</label>
              <input id="noun01" name="noun01" type="text" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="adjective02">Adjective</label>
              <input id="adjective02" name="adjective02" type="text" class="form-control">
            </div>
            <div class="form-group col">
              <label for="verb01">Verb - ending in "ed"</label>
              <input id="verb01" name="verb01" type="text" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="adjective03">Adjective</label>
              <input id="adjective03" name="adjective03" type="text" class="form-control">
            </div>
            <div class="form-group col">
              <label for="verb02">Verb - ending in "ed"</label>
              <input id="verb02" name="verb02" type="text" class="form-control">
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col">
              <label for="noun02">Noun</label>
              <input id="noun02" name="noun02" type="text" class="form-control">
            </div>
            <div class="form-group col">
              <label for="noun03">Noun</label>
              <input id="noun03" name="noun03" type="text" class="form-control">
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col">
              <label for="noun04">Noun</label>
              <input id="noun04" name="noun04" type="text" class="form-control">
            </div>
            <div class="form-group col">
              <label for="timeOfDay">Time of Day</label>
              <input id="timeOfDay" name="timeOfDay" type="text" class="form-control">
            </div>
          </div>
          <div class="text-center m-4">
            <button class="btn btn-lg btn-primary px-4" type="submit">Submit</button>
          </div>
        </form>
      </header>

    </div>
  </body>
</html>