<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
    <title>Create a Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Create a Mad Lib!</h1>
        <p>Fill out the form fields below and click the submit button to see a goofy mad lib!</p>
        <form action="/response"></form>
      </header>

    </div>
  </body>
</html>